<a href="https://colab.research.google.com/github/sugarforever/LangChain-SQL-Chain/blob/main/Chat_with_SQL_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
%pip install langchain
%pip install pymysql

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simpleNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: langchain in d:\users\mark2\miniconda3\lib\site-packages (0.0.147)
Requirement already satisfied: SQLAlchemy<2,>=1 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (1.4.47)
Requirement already satisfied: dataclasses-json<0.6.0,>=0.5.7 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (0.5.7)
Requirement already satisfied: PyYAML>=5.4.1 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (6.0)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (2.8.4)
Requirement already satisfied: pydantic<2,>=1 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (1.10.7)
Requirement already satisfied: tqdm>=4.48.0 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (4.64.1)
Requirement already satisfied: numpy<2,>=1 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (1.22.3)
Requirement already satisfied: openapi-schema-pydantic<2.0,>=1.2 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (1.2.4)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (3.8.4)
Requirement already satisfied: requests<3,>=2 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (2.28.1)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (4.0.2)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in d:\users\mark2\miniconda3\lib\site-packages (from langchain) (8.2.2)
Requirement already satisfied: yarl<2.0,>=1.0 in d:\users\mark2\miniconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.7.2)
Requirement already satisfied: aiosignal>=1.1.2 in d:\users\mark2\miniconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in d:\users\mark2\miniconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in d:\users\mark2\miniconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in d:\users\mark2\miniconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.3)
Requirement already satisfied: attrs>=17.3.0 in d:\users\mark2\miniconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (22.2.0)
Requirement already satisfied: marshmallow-enum<2.0.0,>=1.5.1 in d:\users\mark2\miniconda3\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (1.5.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.3.0 in d:\users\mark2\miniconda3\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (3.19.0)
Requirement already satisfied: typing-inspect>=0.4.0 in d:\users\mark2\miniconda3\lib\site-packages (from dataclasses-json<0.6.0,>=0.5.7->langchain) (0.8.0)
Requirement already satisfied: typing-extensions>=4.2.0 in d:\users\mark2\miniconda3\lib\site-packages (from pydantic<2,>=1->langchain) (4.5.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\users\mark2\miniconda3\lib\site-packages (from requests<3,>=2->langchain) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in d:\users\mark2\miniconda3\lib\site-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\users\mark2\miniconda3\lib\site-packages (from requests<3,>=2->langchain) (1.26.14)
Requirement already satisfied: greenlet!=0.4.17 in d:\users\mark2\miniconda3\lib\site-packages (from SQLAlchemy<2,>=1->langchain) (2.0.2)
Requirement already satisfied: colorama in d:\users\mark2\miniconda3\lib\site-packages (from tqdm>=4.48.0->langchain) (0.4.6)
Requirement already satisfied: packaging>=17.0 in d:\users\mark2\miniconda3\lib\site-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in d:\users\mark2\miniconda3\lib\site-packages (from typing-inspect>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (1.0.0)
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: pymysql in d:\users\mark2\miniconda3\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [12]:
%env OPENAI_API_KEY=sk-d8X5qdQlAnTdOHzCiOdZT3BlbkFJ

env: OPENAI_API_KEY=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

In [13]:
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain

In [14]:
db = SQLDatabase.from_uri("mysql+pymysql://root:root@127.0.0.1/students")
llm = OpenAI(temperature=0)

In [15]:
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

In [25]:
db_chain.run("全班有多少个学生?")

> Entering new SQLDatabaseChain chain...
全班有多少个学生?
SQLQuery: SELECT COUNT(*) FROM students;
SQLResult: [(5,)]
Answer: 全班有5个学生。
> Finished chain.

' 全班有5个学生。'

In [26]:
db_chain.run("他们的名字是什么?")

> Entering new SQLDatabaseChain chain...
他们的名字是什么?
SQLQuery: SELECT student_name FROM parents
SQLResult: [('Alex',), ('Alice',), ('Jack',), ('Ophelia',)]
Answer: Alex, Alice, Jack, Ophelia.
> Finished chain.

' Alex, Alice, Jack, Ophelia.'

In [27]:
db_chain.run("他们的平均分是多少?")

> Entering new SQLDatabaseChain chain...
他们的平均分是多少?
SQLQuery: SELECT AVG(score) FROM students;
SQLResult: [(Decimal('61.0000'),)]
Answer: 他们的平均分是61分。
> Finished chain.

' 他们的平均分是61分。'

In [28]:
db_chain.run("去除0分之后的平均分是多少")

> Entering new SQLDatabaseChain chain...
去除0分之后的平均分是多少
SQLQuery: SELECT AVG(score) FROM students WHERE score > 0;
SQLResult: [(Decimal('76.2500'),)]
Answer: 去除0分之后的平均分是76.25
> Finished chain.

' 去除0分之后的平均分是76.25'

In [30]:
db_chain.run("谁的了0分?")

> Entering new SQLDatabaseChain chain...
谁的了0分?
SQLQuery: SELECT `name` FROM `students` WHERE `score` = 0;
SQLResult: [('Ophelia',)]
Answer: Ophelia的了0分。
> Finished chain.

' Ophelia的了0分。'

In [32]:
db_chain.run("谁的了0分以及为什么")

> Entering new SQLDatabaseChain chain...
谁的了0分以及为什么
SQLQuery: SELECT `name`, `score`, `teacher_note` FROM `students` WHERE `score` = 0 LIMIT 5;
SQLResult: [('Ophelia', 0, 'Unfortunately, Ophelia missed the test.')]
Answer: Ophelia了0分，因为不幸的是，Ophelia错过了考试。
> Finished chain.

' Ophelia了0分，因为不幸的是，Ophelia错过了考试。'

In [33]:
db_chain.run("说得了0分，给出父母的电话")

> Entering new SQLDatabaseChain chain...
说得了0分，给出父母的电话
SQLQuery: SELECT parent_name, parent_mobile FROM parents WHERE student_name = 'Alex' LIMIT 5;
SQLResult: [('Barry', '0881234567')]
Answer: Alex的父母的电话是0881234567。
> Finished chain.

' Alex的父母的电话是0881234567。'